@main-background: #212124;
@accent-background: #35363a;
@main-text: #f9f9f9;
@disaccent-text: #b9b9b9;
@accent-text: #d2d2d2;
@link: #80868b;
@border: #80868b;

@media (prefers-color-scheme: dark) {
  body {
    background-color: @main-background !important;
    color: @main-text !important;
  }

  #searchform > div:nth-of-type(2) {
    background-color: @main-background;
  }

  #searchform .logo + div {
    background-color: @accent-background;
    border-color: @border;
  }

  #searchform input {
    color: @main-text;
  }

  #top_nav h1 + div {
    border-color: @border;
  }

  #top_nav h1 + div > div:nth-of-type(1) {
    background-color: @main-background;
  }

  h3 {
    color: @main-text !important;
  }
  // breadcrumbs
  cite {
    color: @disaccent-text !important;
  }
  // breadcrumbs
  cite span {
    color: @disaccent-text !important;
  }
  // translate
  div div span + a {
    color: @link !important;
  }
  // description
  div div div > div:nth-of-type(2) {
    color: @link;
  }
  // description tokens
  div div div > div:nth-of-type(2) em {
    color: @accent-text !important;
  }
  // results table
  div > span + div div div a {
    color: @accent-text !important;
  }
  // another results
  #extrares .card-section a,
  #extrares .card-section .search-icon {
    color: @main-text;
  }

  #foot a {
    color: @main-text !important;
  }

  #foot td {
    color: @accent-text !important;
  }

  #fbar {
    background-color: @main-background !important;
    border-color: @link !important;
  }

  #fbar .fbar {
    border-color: @link !important;
  }

  #fbar .fbar > * {
    color: @main-text !important;
  }
  // suggestions dropdown
  .logo + div + div > div:nth-of-type(2) {
    background-color: @accent-background !important;
  }
  // suggestions
  .logo + div + div li div div + div > div {
    color: @accent-text;
  }
  .logo + div + div li:hover div div + div > div,
  .logo + div + div li:hover div div + div > div span {
    color: @accent-background;
  }
  .logo + div + div > div + div > div:first-of-type {
    border-color: @border;
  }

  div[role="menu"] {
    background-color: @accent-background;
  }
  // sidebar border
  #wp-tabs-container {
    border-color: @border;
  }

  [data-attrid="title"] {
    color: @main-text;
  }

  [data-attrid="description"] {
    color: @main-text;
  }

  svg {
    color: @accent-text;
  }

  div div:nth-of-type(2) div div span:first-of-type > a {
    color: @main-text !important;
  }
}
